*{
    border:none;
    outline: none;
    margin: 0;
    padding: 0;
}
#container{
    width:80%;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 auto;
}
header{
    background-color:brown;
    padding:30px;
}
.content{
    padding:30px;
    text-align:center;
}
.content img{
    width:30%;
}

.saisons-liste{
    display:flex;
    justify-content: space-around;
}
.saison{
    padding:30px;
    width:15%;
}
.saison-printemps{
    background-color:lightgreen;
    border:5px solid greenyellow;
}
.saison-ete{
    background-color: green;
    border:5px solid darkgreen;
}
.saison-automne{
    background-color:peru;
    border:5px solid brown;
}
.saison-hiver{
    background-color: darkgrey;
    border:5px solid grey;
}

