{% set saisons = ["printemps", "ete", "automne", "hiver"] %}
    <div class="saisons-liste">   
        {% for saison in saisons %}
            <div class="saison saison-{{ saison }}">
                <a href="{{ path("front_saison", { 'saison': saison })}}">{{ saison }}</a>
            </div>
        {% endfor %}
    </div>