{% extends 'base.html.twig' %}    

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

<div class="content">
    <h1>Le temps passe et passe...</h1>
    {{ include("front/_menu.html.twig")}}
    
</div>
{% endblock %}
