{% extends "base.html.twig" %}

{% block menu %}
    {{ include("front/_menu.html.twig")}}
{% endblock %}
{% block body %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}