{% extends "front/layout.html.twig" %}

{% block content %}
<div class="saison-{{ saison }}" />
<h1>{{ saison }}</h1>
<img src="{{ asset("img/" ~ saison ~ ".jpg")}}" alt="{{saison}}" />
{% if saison == "ete" %}
    <p>L'été, il fait souvent chaud et beau.<p>
{% elseif saison == "automne" %}
    <p>En automne, les feuilles des arbres tombent</p>
{% elseif saison == "hiver" %}
    <p>En hiver, il neige parfois, et il fais souvent froid</p>
{% elseif saison == "printemps" %}
    <p>Au printemps, les fleurs s'ouvrent et l'herbe redevient verte.</p>
{% endif %}
</div>
{% endblock %}