<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="{{ asset("css/styles.css") }}" rel="stylesheet" />
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div id="container">
        <header>
            <h2><a href="{{ path("front")}}">Le Cycle des saisons</a></h2>
            {% block menu %}
            {% endblock %}
        </header>
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
